# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Data
data/raw/
data/processed/

# Model Checkpoints and Weights
training/checkpoints/
model/saved_model/

# Logs
logs/
*.log

# Pytest
.pytest_cache/

# Executables
*.exe

.vercel
